<launch>

<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" /> 

<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" >

<arg name="map_file" value="$(dirname)/../maps/waffleHouseMap.yaml" />

</include> 

<node name="marsi_nav" pkg="simple_navigation_ros" type="action_turtlebot_nav.py" output="screen"> </node>

</launch>